[Unit]
Description=Transmission Restarter 

[Service]
Type=oneshot
ExecStart=/bin/systemctl restart transmission-daemon.service

[Install]
WantedBy=multi-user.target
